<div class="nav-C61RwL" data-id="92:171">
    <div class="logo-Ebfosa"
        onclick="Lib.autoanim_redirect('pagina-inicial,javascript%3Adocument.querySelector%28%22.destaques-da-loja-C61RwL%22%29.scrollIntoView%28%29,,,', event)"
        onmouseover="" data-id="I92:171;39:12"></div>
    <div class="barra-de-busca-Ebfosa" data-id="I92:171;20:846">
        <div class="value-1jUYmM" data-id="I92:171;20:846;2236:14991">Pesquisa</div>
        <div class="x-1jUYmM" data-id="I92:171;20:846;2236:15002"></div>
    </div>
    <div class="monitoria-Ebfosa" data-id="I92:171;26:89">Monitoria</div>
    <div class="criadores-Ebfosa"
        onclick="Lib.autoanim_redirect('criadores,pagina-inicial%23criadores,,ease-out,300.00001192092896;carrinho,pagina-inicial%23criadores,,ease-out,300.00001192092896;pagina-inicial,pagina-inicial%23criadores,,ease-out,300.00001192092896;compra,pagina-inicial%23criadores,,ease-out,300.00001192092896', event)"
        onmouseover="" data-id="I92:171;26:91">Criadores</div>
    <div class="shopping-cart-Ebfosa"
        onclick="Lib.autoanim_redirect('criadores,pagina-inicial%23carrinho,,ease-out,300.00001192092896;carrinho,pagina-inicial%23carrinho,,ease-out,300.00001192092896;pagina-inicial,pagina-inicial%23carrinho,,ease-out,300.00001192092896;compra,pagina-inicial%23carrinho,,ease-out,300.00001192092896', event)"
        onmouseover="" data-id="I92:171;21:2358"></div>
</div>