<div class="itens-C61RwL" data-id="47:105">
    <div class="item-x1zpte" onclick="Lib.autoanim_redirect('%2A,pagina-inicial%23compra,,,', event)"
        onmouseover="" data-id="112:256">
        <div class="caneca2-8D3wtK" data-id="I112:256;47:47"></div>
        <div class="caneca-do-angular-8D3wtK" data-id="I112:256;47:50">Caneca do Angular</div>
        <div class="r-xxxxxx-8D3wtK" data-id="I112:256;47:74">R$ XXXX,XX</div>
        <div class="button-8D3wtK" data-id="I112:256;112:636">
            <div class="state-layer-aqrFIG" data-id="I112:256;112:636;53923:27634">
                <div class="label-text-LAPr4s valign-text-middle" data-id="I112:256;112:636;53923:27635">
                    Comprar</div>
            </div>
        </div>
    </div>
    <div class="item-z8Gc4u" onclick="Lib.autoanim_redirect('%2A,pagina-inicial%23compra,,,', event)"
        onmouseover="" data-id="111:250">
        <div class="caneca2-HuQC99" data-id="I111:250;47:47"></div>
        <div class="caneca-do-angular-HuQC99" data-id="I111:250;47:50">Caneca do Angular</div>
        <div class="r-xxxxxx-HuQC99" data-id="I111:250;47:74">R$ XXXX,XX</div>
        <div class="button-HuQC99" data-id="I111:250;112:636">
            <div class="state-layer-bi4N6T" data-id="I111:250;112:636;53923:27634">
                <div class="label-text-YNet71 valign-text-middle" data-id="I111:250;112:636;53923:27635">
                    Comprar</div>
            </div>
        </div>
    </div>
    <div class="item-yNGICo" onclick="Lib.autoanim_redirect('%2A,pagina-inicial%23compra,,,', event)"
        onmouseover="" data-id="112:296">
        <div class="caneca2-aGks66" data-id="I112:296;47:47"></div>
        <div class="caneca-do-angular-aGks66" data-id="I112:296;47:50">Caneca do Angular</div>
        <div class="r-xxxxxx-aGks66" data-id="I112:296;47:74">R$ XXXX,XX</div>
        <div class="button-aGks66" data-id="I112:296;112:636">
            <div class="state-layer-uxd1Yy" data-id="I112:296;112:636;53923:27634">
                <div class="label-text-AB7LKb valign-text-middle" data-id="I112:296;112:636;53923:27635">
                    Comprar</div>
            </div>
        </div>
    </div>
</div>