<div class="lista-de-produtos-C61RwL" data-id="112:927">
    <div class="foto-6TPyBv" data-id="112:926">
        <div class="background-l88sBq" data-id="111:470"></div>
        <div class="caneca-l88sBq" data-id="111:471"></div>
    </div>
    <div class="item-6TPyBv" data-id="112:923">
        <div class="caneca-atletica-Zxt6hX" data-id="111:473">Caneca - Atletica</div>
        <div class="r-xxxx-xx-Zxt6hX" data-id="111:495">R$ XXXX, XX</div>
        <div class="quantidade-Zxt6hX" data-id="112:922">
            <div class="quantidade-1TYV8H" data-id="112:921">Quantidade</div>
            <div class="button-1TYV8H" data-id="112:913">
                <div class="x-ek3h4r" data-id="I112:913;9762:429">+</div>
            </div>
            <div class="button-BWzL4U" data-id="112:847">
                <div class="x-fDSZEd" data-id="I112:847;9762:429">-</div>
            </div>
        </div>
    </div>
</div>

<div class="fechar-pedido-C61RwL" data-id="112:941">
    <div class="r-xxxx-xx-SiVpxg" data-id="111:498">R$ XXXX, XX</div>
    <div class="button-SiVpxg" data-id="111:509">
        <div class="state-layer-anRbSa" data-id="I111:509;53923:27634">
            <div class="label-text-pTOX4b valign-text-middle" data-id="I111:509;53923:27635">Fechar pedido
            </div>
        </div>
    </div>
    <h1 class="total-SiVpxg" data-id="111:513">TOTAL:</h1>
</div>
