<!--
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1915, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="photo">
    <script id="anima-load-script" src="load.js"></script>
    <script id="anima-hotspots-script" src="hotspots.js"></script>
    <script id="anima-overrides-script" src="overrides.js"></script>
    <script src="https://animaapp.s3.amazonaws.com/js/timeline.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
-->
    <app-header></app-header>

    <div class="divisoria-C61RwL" data-id="47:37"></div>
    <!-- <script src="launchpad-js/launchpad-banner.js" async></script>
    <script defer src="https://animaapp.s3.amazonaws.com/static/restart-btn.min.js"></script> -->

<!--Parte do Angular, não mexer-->
<router-outlet />
