<div class="item-C61RwL" data-id="112:687">
    <div class="produto-tKx3qu" data-id="112:681">
        <div class="background-qEQW7S" data-id="89:81"></div>
        <div class="caneca-qEQW7S" data-id="108:97"></div>
    </div>
    <div class="detalhes-tKx3qu" data-id="112:686">
        <div class="caneca-atltica-TtnQEo" data-id="112:684">Caneca - Atlética</div>
        <div class="r-xxxx-xx-TtnQEo" data-id="92:203">R$ XXXX, XX</div>
        <div class="button-TtnQEo" data-id="112:525">
            <div class="state-layer-Qih3lP" data-id="I112:525;53923:27634">
                <div class="label-text-guyOQd valign-text-middle" data-id="I112:525;53923:27635">Comprar
                </div>
            </div>
        </div>
        <div class="button-ZmOBdt" data-id="112:726">
            <div class="state-layer-6FxLlA" data-id="I112:726;53923:27634">
                <div class="label-text-nIN9VT valign-text-middle" data-id="I112:726;53923:27635">Carrinho
                </div>
            </div>
        </div>
    </div>
</div>
<div class="frame-4-C61RwL" data-id="112:688">
    <div class="lorem-ipsum-dolor-si-61Z7WH" data-id="111:420"> Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Suspendisse&nbsp;&nbsp;molestie metus sit amet nisl commodo, at dapibus enim
        rhoncus. Quisque&nbsp;&nbsp;blandit ultricies varius. Vivamus malesuada maximus facilisis.
        Sed&nbsp;&nbsp;tempus enim quis lacinia laoreet. Aliquam arcu sapien, convallis sed&nbsp;&nbsp;justo
        quis, pretium ultricies dolor. Nam nec ullamcorper sem, nec&nbsp;&nbsp;tristique leo. Aenean vel
        mauris eget lectus pretium gravida. Vivamus&nbsp;&nbsp;pellentesque metus ut massa ullamcorper
        sollicitudin. Pellentesque&nbsp;&nbsp;habitant morbi tristique senectus et netus et malesuada fames
        ac turpis&nbsp;&nbsp;egestas. Nullam sit amet bibendum urna, vel rhoncus massa.
        Pellentesque&nbsp;&nbsp;metus nunc, laoreet sit amet libero vitae, sagittis tristique
        nunc.&nbsp;&nbsp;Morbi a libero id leo dictum facilisis. Sed gravida sollicitudin
        magna&nbsp;&nbsp;nec mattis. Curabitur at nibh leo. Nunc faucibus a sapien et pharetra.</div>
</div>