<div class="destaques-da-loja-C61RwL" data-id="41:16">
    <div class="caneca3-UpUf4v" data-id="47:25"></div>
    <div class="caneca-do-angular-UpUf4v" data-id="41:17">Caneca do Angular</div>
    <div class="r-xxxxxx-UpUf4v" data-id="41:34">R$ XXXX,XX</div>
    <div class="lorem-ipsum-dolor-si-UpUf4v" data-id="41:18">Lorem ipsum dolor sit amet, <br>consectetur
        adipiscing elit. <br>Cras sit amet nibh ut lacus elementum</div>
    <div class="boto-de-compra-UpUf4v"
        onclick="Lib.autoanim_redirect('%2A,pagina-inicial%23carrinho,,ease-out,300.00001192092896', event)"
        onmouseover="" data-id="41:29">
        <div class="shopping-cart-CCMK47" data-id="41:30"></div>
        <div class="frame-1-CCMK47" data-id="64:78">
            <div class="comprar-Wodxh1" data-id="41:33">Comprar</div>
        </div>
    </div>
</div>